// Colors
$defaultColor: #E0E0E0;
$hamburgerColor: #939393;
$navColor: #494949;
$primaryColor: #850096;
$secondaryColor: #16B202;

// Font Sizes
$font-med: 1.125rem; // 18px
$font-sm: 0.875rem; // 14px
