// Colors
$defaultColor: #f7f7f7;
$hamburgerColor: #939393;
$navColor: #494949;
$primaryColor: #850096;
$secondaryColor: #16B202;
$darkPurple: #1C0E1E;
$carouselBackground: #f1f1f1;

// Font Sizes
$font-med: 1.125rem; // 18px
$font-sm: 0.875rem; // 14px
